#top{
    text-decoration: underline;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:maroon;

}
#top2{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(6, 6, 103);
}
body{
    background-color:bisque;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    border: 2px solid rgb(6, 6, 103);
    text-align: left;
    text-align: center;
}
#rest{
    text-align: left;
}
#bottom{
    text-align: center;
}
#place{
    color:maroon;
    text-decoration: underline;
    font-weight: bold;
}
#viz1681956452994{
    margin-left: auto;
    margin-right: auto;
}
#footer{
    color: maroon;
}